a {
	text-decoration:none;
}
span.requiredField {
	color:red;
}
dd {
	margin-left:0px;
}

ul.errors {
	list-style-type:none;
	margin-left:0px;
	padding-left:0px;
	color:red;
}
div#formErrors {
color:red;
}
select,input {
width:200px;
}

dt.userDetailsField, dt.advertiserDetailsField {
font-size:24px;
background-color:#C0C0C0;
}

body {
margin-left:100px;
}

dl#advertiser {
float:left;
margin-top:0px;
margin-right:10px;
border-width:1px;
border-style:solid;
border-top-style:none;
border-left-style:none;
}

table#adverts{
 text-align:left;
}

tr.advertDetails td{
	padding-right:10px;
}